server:
  port: 8081

spring:
  datasource:
    url: jdbc:h2:mem:backendbootstrapdb
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
        jdbc:
          time_zone: UTC
    show-sql: false
    hibernate:
      ddl-auto: none
    generate-ddl: false
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true

  h2:
    console:
      enabled: true
      path: /h2