server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/backendbootstrapdb
    username: backend-bootstrap-user
    password: password
    driver-class-name: org.postgresql.Driver
    initialization-mode: never

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL95Dialect
        format_sql: true
        jdbc:
          time_zone: UTC
          lob:
            non_contextual_creation: true
      javax:
        persistence:
          schema-generation:
            create-source: metadata
            scripts:
              action: none
              create-target: create.sql
    show-sql: false
    hibernate:
      ddl-auto: none
    generate-ddl: false

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://eureka-server:8761/eureka}
    eureka-server-connect-timeout-seconds: 15
  instance:
    preferIpAddress: true

  h2:
    console:
      enabled: false
      path: /h2

app:
  properties:
    jwtSecret: JWTSuperSecretKey
    jwtExpirationInMs: 604800000