server:
  port: 8081

spring:
  datasource:
    url: jdbc:h2:mem:backendbootstrapdb
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
        jdbc:
          time_zone: UTC
      javax:
        persistence:
          schema-generation:
            create-source: metadata
            scripts:
              action: none
              create-target: create.sql
    hibernate:
      ddl-auto: create
    generate-ddl: false
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
    enabled: false
  instance:
    preferIpAddress: true

  h2:
    console:
      enabled: true
      path: /h2

app:
  properties:
    jwtSecret: JWTSuperSecretKey
    jwtExpirationInMs: 604800000