server:
  port: 9090

spring:
  quartz:
    overwrite-existing-jobs: true
    auto-startup: true
    jdbc:
      initialize-schema: always
    job-store-type: jdbc
    properties:
      org:
        quartz:
          threadPool:
            threadCount: 5

  datasource:
#    url: jdbc:h2:mem:backendbootstrapdb
    url: jdbc:h2:tcp://localhost:9092/mem:backendbootstrapdb
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
        jdbc:
          time_zone: UTC
      javax:
        persistence:
          schema-generation:
            create-source: metadata
            scripts:
              action: none
              create-target: create.sql
    hibernate:
      ddl-auto: create
    generate-ddl: false
  data:
    mongodb:
#      authentication-database: admin
#      username: username
#      password: password
      database: backendbootstrapdb
      host: localhost
      port: 27017

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true

  h2:
    console:
      enabled: true
      path: /h2