<!DOCTYPE html>
<html lang="en" ng-app="backendBootstrap"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="mainLayout">
<head>
    <link rel="stylesheet" th:href="@{../bootstrap/css/bootstrap.css}" type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="@{../css/messages.css}" type="text/css" media="screen"/>
</head>
<body>

<div id="content" layout:fragment="content" class="container">
</div>
</body>
</html>
