<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mainLayout}">

<body>

<div id="content" layout:fragment="content">
    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf Example</h1>
        <h2>
            <span th:text="'App Name: ' + ${appName}"></span>
        </h2>
        <form id="generateErrorForm" th:action="@{/home/generateError}" method="post" style="padding-top: 10px">
            <button class="button" type="submit">Generate Error</button>
        </form>
        <form id="generateUnauthorizedErrorForm" th:action="@{/home/generateUnauthorizedError}" method="post" style="padding-top: 10px">
            <button class="button" type="submit">Generate Unauthorized Error</button>
        </form>
        <form id="generateServiceUnavailableError" th:action="@{/home/generateServiceUnavailableError}" method="post" style="padding-top: 10px">
            <button class="button" type="submit">Generate Unavailable Error</button>
        </form>
    </div>
</div>
</body>
</html>