<!DOCTYPE html>
<html lang="en"
>
<head>
    <meta charset="utf-8"/>
    <meta name="keywords" content="backend,bootstrap"/>
    <meta name="description" content="Backend Bootstrap Web Application"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
    <link rel="shortcut icon" type="image/png" href="../static/img/favicon.ico"/>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../static/css/ionicons.min.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../static/css/modal.css" type="text/css" media="screen"/>

    <script src="../static/js/jquery-2.1.0.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <title>Backend Bootstrap</title>
</head>
<body>
<!-- Main container -->
<div class="page-container">
</div>
<script>
    $('.navbar-toggle').on('click', function() {
        $('.after-navbar').css('margin-top','230px');
    });
</script>
</body>
</html>
