<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="${appName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" type="image/png" href="../img/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>

</head>
<body>

<div th:include="header"></div>

<div class="container">

    <div id="content" layout:fragment="content">
        <!--Content goes here-->
    </div>

</div>
<!-- /.container -->


<div th:include="footer"></div>
<script type="text/javascript" src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>